
html{
    width: 100%;
    height: 100vh;
}



/*@font-face {*/
/*    font-family: '210 나무굴림R';*/
/*    src: url('./fonts/210 나무굴림R.ttf') format('truetype');*/
/*}*/

@font-face {
    font-family: '210 라임R';
    src: url('./fonts/210 라임R.ttf') format('truetype');
}
@keyframes rotate {
    0%{
        transform: translateY(0);
    }25%{
         transform: translateY(-20%);
     }50%{
          transform: translateY(-40%);
      }75%{
           transform: translateY(-60%);
       }100%{
            transform: translateY(-80%);
        }
}

@media ( max-width: 900px ) {
    #main_contents .wrapper {
        /*background-color: rebeccapurple;*/
        border: none !important; /*이게 있어야하구나*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*width: 100%;*/
        /*height: 95%;*/
        /*max-width: 500px;*/
    }
}

body{
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: "210 나무굴림R",'210 라임R' ,sans-serif;

}

#main_contents {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*margin-top: 3rem;*/
    /*em, rem 차이 구분*/
}

#main_contents .wrapper {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /*width: 100%;*/

    /*xd참고 규격*/
    width: 429px;
    height: 926px;

    margin: 3rem 0 3rem 0;
    max-width: 500px;
}
.upper{
    height: 519px;
    background-color: #C5F9FF;
    border-radius: 15px 15px 0 0 ;
}

.main_title_above{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    color: black;
    font-size: 70px;
    font-weight: bolder;
}

.main_title_container {
    text-align: center;
    margin: 116px 0px 0px 0px;
    /*height: 250px;*/
    color: black;
    font-size: 55px;
    font-weight: bolder;
    line-height: 70px;
    font-family: '210 라임R' ,sans-serif;

}
.subtitles{
    margin-top: 28px;
    margin-bottom: 40px;
    /*background-color: #7f47dd;*/
    /*width: 323px;*/
    height: 2em;
    /*line-height: 2em;*/
}
.sub_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #274D6E;
}
.photo{
    margin-top:30px;
    /*height: 100%;*/

}
#poster{
    width: 400px;
    /*height: 100%;*/
}

.bottom{
    height: 407px;
    width: 100%;
    background-color: #ffffff;
    /*background-color: yellowgreen;*/
    border-radius: 0 0 15px 15px;
}

.intro {
    text-align: center;
    padding-bottom: 30px;
}

.intro h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.type {
    font-size: 15px;
    line-height: 2em;
    height: 2em;
    /*line-heigth 와 height 수치가 같아야 에니메이션 제대로 먹는다.*/

    /*신기하네*/
    overflow: hidden;
}

.type_list{
    animation: rotate 7s infinite;
}

.button {
    text-align: center;
    padding-bottom: 50px;
}

.start-button {
    width: 323px;
    height: 75px;
    border-radius: 15px;
    background-color: #79EBF8;
    border: 3px solid #5ECFDC;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    margin: 0 0 20px 0;
}
.start{
    font-weight: bold;
    font-size: 40px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.button button:hover {
    /*text-decoration: underline;*/
    background: aliceblue;
    transition: 1s;
}


.result_data {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.result_data .data_wrap {
    width: 323px;
    height: 17px;
    font-size: 17px;
    color: black;
    font-weight: bold;
    /*background-color: #2b2929;*/
}

.result_data li{
    font-size:15px;
    padding-bottom: 10px
}
